{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  {% for post in posts %}
<div class="card">
        <div class="back-link">
            <a href="/home" >
                <span><i class="fa-solid fa-house"></i></span>
            </a>
        </div>
        <h1>id=  {{post.id}}</h1> 
        <h1> {{post.title}}</h1>
        <p>{{ post.body }}</p>
        <a class="card-link" href="/post?id={{ post.id }}">
            <span>Detail<span>
        </a>
    </div>
  {% endfor %}
{% endblock %}
